* {
  box-sizing: border-box;
}

button {
  display: block;
  margin: 20px auto;
  background: crimson;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
}

.popup-wrapper {
  /* Esse aqui é o cara! Foi setado como none.
    Caso isso não fosse feito, teríamos como padrão,
    o popup sendo mostrado, sem nenhum botão ter sido
    clicado.
  */
  display: none;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid pink;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;
}

.popup a {
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
  background: crimson;
}

.popup-close {
  position: relative;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}